html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #131313;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: monospace;
  background-color: #131313;
  color: azure;
  height: fit-content;
  width: 100%;
  text-align: left;
}

#logo {
  width: 5%;
}

body {
  /*position: relative;  à garder ou supprimer*/
  justify-content: center;
  align-items: center;
  background-color: azure;
  margin: auto;
  min-height: 100vh;
}

.titlegame {
  font-family: monospace;
  font-style: italic;
  font-size: 4vw;
  text-align: center;
  color: azure;
  text-shadow: 5px 5px 15px #ff66c4;
}

#container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  padding: 0 40px;
}

.block-one,
.block-two {
  height: 400px;
  width: 400px;
  font-family: monospace;
  background-color: #131313;
  color: azure;
  box-shadow: 5px 5px 25px #ff66c4;
  padding: 10px 30px;
  margin-bottom: 30px;
}

.block-two {
  background-image: url("img/background.jpg");
  background-size: cover;
}

.titleBlock1 {
  font-family: monospace;
  text-align: left;
}

a {
  text-decoration: none;
  color: azure;
}

button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  justify-items: center;
  font-family: monospace;
  font-weight: bold;
  margin-top: 90px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2vw;
  color: azure;
  background-color: #ff66c4;
  border: 2px solid azure;
  width: 50%;
}

a:hover {
  background-color: azure;
  color: #ff66c4;
}

button:hover {
  background-color: azure;
  color: #ff66c4;
  border: 2px dotted #ff66c4;
}

#masque {
  overflow: hidden;
  top: 20vh;
  left: 20vw;
}

footer {
  position: fixed;
  bottom: 0;
  font-family: monospace;
  text-align: end;
  width: 100%;
  background-color: #131313;
  color: azure;
}

canvas {
  position: absolute;
  left: 25%;
  border: 2px solid #ff66c4;
  background-image: url("img/bg_1slide_SuGG.png");
  background-size: 100%;
  animation: change 3s ease-in-out;
  animation-fill-mode: forwards;
}
#parent {
  position: relative;
}

#sprite {
  width: 100%;
}

#help {
  margin-top: 200px;
  margin-left: 366px;
  font-size: 10px;
  color: cadetblue;
}

#score {
  display: inline-block;
  border: 2px inset #ff66c4;
  margin-left: 5vw;
  margin-bottom: 2vh;
  font-size: 1.5vw;
}

#boutonCV {
  display: inline-block;
  margin-left: 45%;
  width: 30%;
}
@keyframes change {
  100% {
    background-image: url(img/bg-s2-final.png);
    background-size: 100%;
  }
}

@media (max-width: 414px) {
  .block-one {
    flex-direction: column;
    width: 50%;
    margin-block-end: 30px;
  }

  .button {
    display: block;
    width: 50%;
    margin-inline: 50px;
  }
  canvas {
    display: flex;
    width: 414;
  }

  #masque {
    top: 145px;
    left: 35px;
  }

  #sprite {
    width: 100%;
  }

  #score {
    flex-direction: column;
    margin-left: 10%;
  }
}
